/* view height 100vh = height of your browser */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.video-container {
  height: 100vh; 
}

.video-container > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customized-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.9rem 7rem;
  font-size: 90%;
}

.transparent-btn {
  padding: 1rem;
  background-color: transparent;
  border: 0;
}

.white-border-btn {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

/* justify-content
align-items
1          2           3 */

.title-container {
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container > div:first-child {
  font-size: 4.125rem;
  font-family: 'Prata', serif;
}

.reserve-btn {
  background-color: transparent;
  border: 0;
  padding: 1.5rem 3rem;
  font-size: 95%;
  text-decoration: underline;
}

.discover-btn {
  background-color: white;
  border: 0;
  padding: 1.5rem 3rem;
  font-size: 95%;
}

.footer-container {
  bottom: 4.5rem;
  left: 9rem;
  right: 9rem;
}

.new-font {
  font-family: 'Prata', serif;
}
